In [784]:
#read csv
import csv
import os
import pandas as pd
import math

In [785]:
#clear warnings
import warnings
warnings.filterwarnings("ignore")

In [786]:
output = pd.read_csv('output_new.csv')
vehicle_master = pd.read_csv('vehicle_master.csv')
#add new dummy columns
output['Size'] = 0
output['p_year'] = 0
output['Ftype'] = 0
output['ratio'] = 0
output['Demand'] = 0
output['Demand_id'] = 0
output['age'] = 0
output['k'] = 0
output['T_val'] = 0

In [787]:
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"P[0,0,4]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"P[0,1,1]",30.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"P[0,1,2]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"P[0,1,4]",3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042,"F[15,15,2,1]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2043,"F[15,15,2,2]",23.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2044,"F[15,15,2,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2045,"F[15,15,3,2]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2046,"F[15,15,3,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [788]:
#delete rows with 0 in solver val
output = output[output['Solver_Value'] >= 0]
output.reset_index(drop=True, inplace=True)
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"P[0,0,4]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"P[0,1,1]",30.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"P[0,1,2]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"P[0,1,4]",3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042,"F[15,15,2,1]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2043,"F[15,15,2,2]",23.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2044,"F[15,15,2,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2045,"F[15,15,3,2]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2046,"F[15,15,3,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [789]:
for i in range(len(output['Solver_Var'])):
    if output['Solver_Var'][i][0] == 'T':
        output['T_val'][i] = 'U' + output['Solver_Var'][i][1:]

In [790]:
t_df = output[output['T_val'] != 0] #t_df is the dataframe with all the T values
t_df.reset_index(drop=True, inplace=True)
t_df

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"T[0,0,0,1,0]",9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[0,0,0,1,0]"
1,"T[0,0,0,1,1]",26.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[0,0,0,1,1]"
2,"T[0,0,0,1,2]",33.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[0,0,0,1,2]"
3,"T[0,0,0,1,3]",4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[0,0,0,1,3]"
4,"T[0,0,0,4,3]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[0,0,0,4,3]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,"T[15,15,2,3,3]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[15,15,2,3,3]"
724,"T[15,15,3,2,1]",7.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[15,15,3,2,1]"
725,"T[15,15,3,2,2]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[15,15,3,2,2]"
726,"T[15,15,3,3,0]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[15,15,3,3,0]"
727,"T[15,15,3,3,3]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"U[15,15,3,3,3]"

In [791]:
t_df.to_csv('t_df.csv', index=False)

In [792]:
#reomve all T in output
output = output[output['T_val'] == 0]
output.reset_index(drop=True, inplace=True)
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"P[0,0,4]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"P[0,1,1]",30.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"P[0,1,2]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"P[0,1,4]",3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,"F[15,15,2,1]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1315,"F[15,15,2,2]",23.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1316,"F[15,15,2,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1317,"F[15,15,3,2]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1318,"F[15,15,3,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [793]:
#convert first column to int
output['Solver_Var'] = output['Solver_Var'].astype(str)

In [794]:
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"P[0,0,4]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"P[0,1,1]",30.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"P[0,1,2]",1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"P[0,1,4]",3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,"F[15,15,2,1]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1315,"F[15,15,2,2]",23.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1316,"F[15,15,2,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1317,"F[15,15,3,2]",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1318,"F[15,15,3,3]",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [795]:
for i in range(len(output['Solver_Var'])):
    #Year columns
    if output['Solver_Var'][i][3] == ',':
        output['Year'][i] = int(output['Solver_Var'][i][2])+2023
        x = 5
    else:
        output['Year'][i] = int(output['Solver_Var'][i][2:4])+2023
        x = 6
    
    if output['Solver_Var'][i][0] == 'P':
        output['p_year'][i] = output['Year'][i]
    else:
        if output['Solver_Var'][i][x] == ',':
            output['p_year'][i] = int(output['Solver_Var'][i][x-1])+2023
        else:
            output['p_year'][i] = int(output['Solver_Var'][i][x-1:x+1])+2023   

    #Type columns and NUM_VEHICLES
    if output['Solver_Var'][i][0] == 'P':
        output['Type'][i] = 'Buy'
        output['Num_Vehicles'][i] = math.ceil(output['Solver_Value'][i])
        j = -2
    elif output['Solver_Var'][i][0] == 'S':
        output['Type'][i] = 'Sell'
        output['Num_Vehicles'][i] = math.ceil(output['Solver_Value'][i]) #max(1,math.floor(output['Solver_Value'][i]))
        j = -2
    elif output['Solver_Var'][i][0] == 'U':
        output['Type'][i] = 'Use'
        output['Num_Vehicles'][i] = (t_df.loc[t_df['T_val'] == output['Solver_Var'][i], 'Solver_Value'].values[0]).astype(int)
        j = -4 
    else:
        output['Type'][i] = 'Fleet'
        output['Num_Vehicles'][i] = math.ceil(output['Solver_Value'][i])
        j = -2

    #Fuel
    if int(output['Solver_Var'][i][j]) == 1 :
        output['Fuel'][i] = 'LNG'
        output['Ftype'][i] = 'LNG'
        output['k'][i] = 1

    elif int(output['Solver_Var'][i][j]) == 2 :
        output['Fuel'][i] = 'BioLNG'
        output['Ftype'][i] = 'LNG'
        output['k'][i] = 2

    elif int(output['Solver_Var'][i][j]) == 3 :
        output['Fuel'][i] = 'HVO'
        output['Ftype'][i] = 'Diesel'
        output['k'][i] = 3

    elif int(output['Solver_Var'][i][j]) == 4 :
        output['Fuel'][i] = 'B20'
        output['Ftype'][i] = 'Diesel'
        output['k'][i] = 4
 
    elif int(output['Solver_Var'][i][j]) == 5 :
        output['Fuel'][i] = 'Electricity'
        output['Ftype'][i] = 'BEV'
        output['k'][i] = 5

    elif int(output['Solver_Var'][i][j]) == 6 :
        output['Fuel'][i] = 'Electricity'
        output['Ftype'][i] = 'BEV'
        output['k'][i] = 6

    elif int(output['Solver_Var'][i][j]) == 7 :
        output['Fuel'][i] = 'Electricity'
        output['Ftype'][i] = 'BEV'
        output['k'][i] = 7

    else:
        output['Fuel'][i] = 'Electricity'
        output['Ftype'][i] = 'BEV'
        output['k'][i] = 8

    #Update distance bucket
    if output['Solver_Var'][i][0] == 'U':
        if int(output['Solver_Var'][i][-2]) == 0 :
            output['Distance_bucket'][i] = 'D1'
        elif int(output['Solver_Var'][i][-2]) == 1 :
            output['Distance_bucket'][i] = 'D2'
        elif int(output['Solver_Var'][i][-2]) == 2 :
            output['Distance_bucket'][i] = 'D3'
        else:
            output['Distance_bucket'][i] = 'D4'
  

    #Extra shape and Ftype
    if int(output['Solver_Var'][i][j-2]) == 0 :
        output['Size'][i] = 'S1'
    elif int(output['Solver_Var'][i][j-2]) == 1 :
        output['Size'][i] = 'S2'
    elif int(output['Solver_Var'][i][j-2]) == 2 :
        output['Size'][i] = 'S3'
    else:
        output['Size'][i] = 'S4'

    #Creating ID column
    output['ID'][i] = output['Ftype'][i] + '_' + output['Size'][i] + '_' + str(output['p_year'][i])
    output['ratio'][i] =  min(output['Solver_Value'][i] / output['Num_Vehicles'][i],1)
    #output['Num_Vehicles'][i] = math.ceil(output['Solver_Value'][i]) # #

    output['Demand_id'][i] = output['Size'][i] + '_' + str(output['Distance_bucket'][i]) + '_' + str(output['Year'][i])

    #Distance per vehicle
    if output['Type'][i] == 'Use':
        output['Distance_per_vehicle(km)'][i] = (vehicle_master.loc[vehicle_master['ID'] == output['ID'][i], 'Yearly range (km)'].values[0] * output['ratio'][i])
        # if output['Demand_id'][i] == 'S4_D1_2036' : 
        #     print("rascal")
        #     output['Distance_per_vehicle(km)'][i] = output['Distance_per_vehicle(km)'][i] * 1.00005

    
    output['Demand'][i] = output['Num_Vehicles'][i] * output['Distance_per_vehicle(km)'][i]
    output['age'][i] = output['Year'][i] - output['p_year'][i]+1

In [796]:
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,2023,LNG_S1_2023,72,Buy,LNG,0,0.0,S1,2023,LNG,1.0,0.0,S1_0_2023,1,1,0
1,"P[0,0,4]",1.0,2023,Diesel_S1_2023,1,Buy,B20,0,0.0,S1,2023,Diesel,1.0,0.0,S1_0_2023,1,4,0
2,"P[0,1,1]",30.0,2023,LNG_S2_2023,30,Buy,LNG,0,0.0,S2,2023,LNG,1.0,0.0,S2_0_2023,1,1,0
3,"P[0,1,2]",1.0,2023,LNG_S2_2023,1,Buy,BioLNG,0,0.0,S2,2023,LNG,1.0,0.0,S2_0_2023,1,2,0
4,"P[0,1,4]",3.0,2023,Diesel_S2_2023,3,Buy,B20,0,0.0,S2,2023,Diesel,1.0,0.0,S2_0_2023,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,"F[15,15,2,1]",8.0,2038,LNG_S3_2038,8,Fleet,LNG,0,0.0,S3,2038,LNG,1.0,0.0,S3_0_2038,1,1,0
1315,"F[15,15,2,2]",23.0,2038,LNG_S3_2038,23,Fleet,BioLNG,0,0.0,S3,2038,LNG,1.0,0.0,S3_0_2038,1,2,0
1316,"F[15,15,2,3]",2.0,2038,Diesel_S3_2038,2,Fleet,HVO,0,0.0,S3,2038,Diesel,1.0,0.0,S3_0_2038,1,3,0
1317,"F[15,15,3,2]",8.0,2038,LNG_S4_2038,8,Fleet,BioLNG,0,0.0,S4,2038,LNG,1.0,0.0,S4_0_2038,1,2,0
1318,"F[15,15,3,3]",2.0,2038,Diesel_S4_2038,2,Fleet,HVO,0,0.0,S4,2038,Diesel,1.0,0.0,S4_0_2038,1,3,0

In [797]:
output[output['ratio'] > 1]

Empty DataFrame
Columns: [Solver_Var, Solver_Value, Year, ID, Num_Vehicles, Type, Fuel, Distance_bucket, Distance_per_vehicle(km), Size, p_year, Ftype, ratio, Demand, Demand_id, age, k, T_val]
Index: []

In [798]:
demand = pd.read_csv('demand.csv')
demand['ID'] = demand['Size'] + '_' + demand['Distance'] + '_' + demand['Year'].astype(str)
demand

     Year Size Distance  Demand (km)          ID
0    2023   S1       D1       869181  S1_D1_2023
1    2023   S1       D2      2597094  S1_D2_2023
2    2023   S1       D3      3292011  S1_D3_2023
3    2023   S1       D4       414315  S1_D4_2023
4    2023   S2       D1       995694  S2_D1_2023
..    ...  ...      ...          ...         ...
251  2038   S4       D4         2446  S4_D4_2038
252  2038   S3       D1      3229278  S3_D1_2038
253  2038   S3       D2      3297618  S3_D2_2038
254  2038   S3       D3      1448550  S3_D3_2038
255  2038   S3       D4       306910  S3_D4_2038

[256 rows x 5 columns]

In [799]:
#create a new colum in demand dataframe and equate it to sum of same id in output dataframe
demand['actual_demand'] = 0
for i in range(len(demand['ID'])):
    demand['actual_demand'][i] = output[output['Demand_id'] == demand['ID'][i]]['Demand'].sum()

In [800]:
demand['differece'] = demand['actual_demand'] - demand['Demand (km)']

In [801]:
#filter year < 2028 and actual demand column is less than demand coilumbn
demand = demand[demand['Year'] <= 2038]
demand = demand[demand['actual_demand'] < demand['Demand (km)']]

In [802]:
demand

Empty DataFrame
Columns: [Year, Size, Distance, Demand (km), ID, actual_demand, differece]
Index: []

In [803]:
22740/22739

1.0000439773077092

In [804]:
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,2023,LNG_S1_2023,72,Buy,LNG,0,0.0,S1,2023,LNG,1.0,0.0,S1_0_2023,1,1,0
1,"P[0,0,4]",1.0,2023,Diesel_S1_2023,1,Buy,B20,0,0.0,S1,2023,Diesel,1.0,0.0,S1_0_2023,1,4,0
2,"P[0,1,1]",30.0,2023,LNG_S2_2023,30,Buy,LNG,0,0.0,S2,2023,LNG,1.0,0.0,S2_0_2023,1,1,0
3,"P[0,1,2]",1.0,2023,LNG_S2_2023,1,Buy,BioLNG,0,0.0,S2,2023,LNG,1.0,0.0,S2_0_2023,1,2,0
4,"P[0,1,4]",3.0,2023,Diesel_S2_2023,3,Buy,B20,0,0.0,S2,2023,Diesel,1.0,0.0,S2_0_2023,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,"F[15,15,2,1]",8.0,2038,LNG_S3_2038,8,Fleet,LNG,0,0.0,S3,2038,LNG,1.0,0.0,S3_0_2038,1,1,0
1315,"F[15,15,2,2]",23.0,2038,LNG_S3_2038,23,Fleet,BioLNG,0,0.0,S3,2038,LNG,1.0,0.0,S3_0_2038,1,2,0
1316,"F[15,15,2,3]",2.0,2038,Diesel_S3_2038,2,Fleet,HVO,0,0.0,S3,2038,Diesel,1.0,0.0,S3_0_2038,1,3,0
1317,"F[15,15,3,2]",8.0,2038,LNG_S4_2038,8,Fleet,BioLNG,0,0.0,S4,2038,LNG,1.0,0.0,S4_0_2038,1,2,0
1318,"F[15,15,3,3]",2.0,2038,Diesel_S4_2038,2,Fleet,HVO,0,0.0,S4,2038,Diesel,1.0,0.0,S4_0_2038,1,3,0

In [805]:
Fleet = output[output['Type'] == 'Fleet'] 
Fleet = Fleet.groupby('Year').sum()
Fleet['Num_Vehicles'] = Fleet['Num_Vehicles'].astype(int) * 0.2
Fleet

,Solver_Var,Solver_Value,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
Year,,,,,,,,,,,,,,,,,
2023,"F[0,0,0,1]F[0,0,0,4]F[0,0,1,1]F[0,0,1,2]F[0,0,...",199.0,LNG_S1_2023Diesel_S1_2023LNG_S2_2023LNG_S2_202...,39.8,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGB20LNGBioLNGB20LNGBioLNGB20LNGB20,0,0.0,S1S1S2S2S2S3S3S3S4S4,20230,LNGDieselLNGLNGDieselLNGLNGDieselLNGDiesel,10.0,0.0,S1_0_2023S1_0_2023S2_0_2023S2_0_2023S2_0_2023S...,10,24,0
2024,"F[1,0,0,1]F[1,0,0,4]F[1,0,1,1]F[1,0,1,2]F[1,0,...",202.0,LNG_S1_2023Diesel_S1_2023LNG_S2_2023LNG_S2_202...,40.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGB20LNGBioLNGB20LNGBioLNGB20LNGB20LNGLNGLNGLNG,0,0.0,S1S1S2S2S2S3S3S3S4S4S1S2S3S4,28326,LNGDieselLNGLNGDieselLNGLNGDieselLNGDieselLNGL...,14.0,0.0,S1_0_2024S1_0_2024S2_0_2024S2_0_2024S2_0_2024S...,24,28,0
2025,"F[2,0,0,1]F[2,0,1,1]F[2,0,1,2]F[2,0,1,4]F[2,0,...",206.0,LNG_S1_2023LNG_S2_2023LNG_S2_2023Diesel_S2_202...,41.2,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGLNGBioLNGB20LNGBioLNGB20LNGB20LNGLNGLNGLNGL...,0,0.0,S1S2S2S2S3S3S3S4S4S1S2S3S4S1S2S3,32378,LNGLNGLNGDieselLNGLNGDieselLNGDieselLNGLNGLNGL...,16.0,0.0,S1_0_2025S2_0_2025S2_0_2025S2_0_2025S3_0_2025S...,38,27,0
2026,"F[3,0,0,1]F[3,0,1,1]F[3,0,1,2]F[3,0,1,4]F[3,0,...",211.0,LNG_S1_2023LNG_S2_2023LNG_S2_2023Diesel_S2_202...,42.2,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGLNGBioLNGB20LNGBioLNGB20LNGLNGLNGLNGLNGLNGL...,0,0.0,S1S2S2S2S3S3S3S1S2S3S4S1S2S3S1S2S3S3S4S4,40488,LNGLNGLNGDieselLNGLNGDieselLNGLNGLNGLNGLNGLNGL...,20.0,0.0,S1_0_2026S2_0_2026S2_0_2026S2_0_2026S3_0_2026S...,52,33,0
2027,"F[4,0,0,1]F[4,0,1,2]F[4,0,1,4]F[4,0,2,2]F[4,0,...",218.0,LNG_S1_2023LNG_S2_2023Diesel_S2_2023LNG_S3_202...,43.6,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGBioLNGB20BioLNGB20LNGLNGLNGLNGLNGLNGLNGLNGL...,0,0.0,S1S2S2S3S3S1S2S3S1S2S3S1S2S3S3S4S4S1S1S2S3S4,44553,LNGLNGDieselLNGDieselLNGLNGLNGLNGLNGLNGLNGLNGL...,22.0,0.0,S1_0_2027S2_0_2027S2_0_2027S3_0_2027S3_0_2027S...,63,36,0
2028,"F[5,0,0,1]F[5,0,1,2]F[5,0,2,2]F[5,0,2,4]F[5,1,...",225.0,LNG_S1_2023LNG_S2_2023LNG_S3_2023Diesel_S3_202...,45.0,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGBioLNGBioLNGB20LNGLNGLNGLNGLNGLNGLNGHVOLNGB...,0,0.0,S1S2S3S3S1S1S2S3S1S2S3S3S4S4S1S1S2S3S4S1S2S3S3S3,48622,LNGLNGLNGDieselLNGLNGLNGLNGLNGLNGLNGDieselLNGD...,24.0,0.0,S1_0_2028S2_0_2028S3_0_2028S3_0_2028S1_0_2028S...,74,39,0
2029,"F[6,0,0,1]F[6,0,1,2]F[6,0,2,2]F[6,0,2,4]F[6,1,...",232.0,LNG_S1_2023LNG_S2_2023LNG_S3_2023Diesel_S3_202...,46.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGBioLNGBioLNGB20LNGLNGLNGLNGLNGLNGHVOB20LNGB...,0,0.0,S1S2S3S3S1S1S2S1S2S3S3S4S1S1S2S3S4S1S2S3S3S3S1...,56745,LNGLNGLNGDieselLNGLNGLNGLNGLNGLNGDieselDieselL...,28.0,0.0,S1_0_2029S2_0_2029S3_0_2029S3_0_2029S1_0_2029S...,95,47,0
2030,"F[7,0,0,1]F[7,0,1,2]F[7,0,2,2]F[7,0,2,4]F[7,1,...",237.0,LNG_S1_2023LNG_S2_2023LNG_S3_2023Diesel_S3_202...,47.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGBioLNGBioLNGB20LNGLNGLNGB20LNGBioLNGLNGLNGL...,0,0.0,S1S2S3S3S1S1S1S4S1S1S2S3S4S1S2S3S3S3S1S2S3S3S4...,60822,LNGLNGLNGDieselLNGLNGLNGDieselLNGLNGLNGLNGLNGL...,30.0,0.0,S1_0_2030S2_0_2030S3_0_2030S3_0_2030S1_0_2030S...,108,53,0
2031,"F[8,0,0,1]F[8,0,2,4]F[8,1,0,1]F[8,2,0,1]F[8,3,...",237.0,LNG_S1_2023Diesel_S3_2023LNG_S1_2024LNG_S1_202...,47.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGB20LNGLNGLNGLNGBioLNGBioLNGLNGLNGBioLNGHVOB...,0,0.0,S1S3S1S1S1S1S1S1S2S3S3S3S1S2S3S3S4S4S1S2S2S3S3...,60855,LNGDieselLNGLNGLNGLNGLNGLNGLNGLNGLNGDieselLNGL...,30.0,0.0,S1_0_2031S3_0_2031S1_0_2031S1_0_2031S1_0_2031S...,105,53,0
2032,"F[9,0,0,1]F[9,1,0,1]F[9,2,0,1]F[9,3,0,1]F[9,4,...",250.0,LNG_S1_2023LNG_S1_2024LNG_S1_2025LNG_S1_2026LN...,50.0,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGLNGLNGLNGLNGBioLNGBioLNGHVOBioLNGBioLNGLNGB...,0,0.0,S1S1S1S1S1S1S1S3S1S2S3S3S4S4S1S2S2S3S3S4S1S2S2...,64940,LNGLNGLNGLNGLNGLNGLNGDieselLNGLNGLNGLNGLNGLNGL...,32.0,0.0,S1_0_2032S1_0_2032S1_0_2032S1_0_2032S1_0_2032S...,116,56,0
2033,"F[10,2,0,1]F[10,3,0,1]F[10,4,0,1]F[10,4,0,2]F[...",252.0,LNG_S1_2025LNG_S1_2026LNG_S1_2027LNG_S1_2027LN...,50.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGLNGLNGBioLNGBioLNGBioLNGBioLNGLNGBioLNGLNGB...,0,0.0,S1S1S1S1S1S1S1S2S2S3S3S4S1S2S2S3S4S4S1S1S2S3S3...,58885,LNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGDieselLNGLNGL...,29.0,0.0,S1_0_2033S1_0_2033S1_0_2033S1_0_2033S1_0_2033S...,101,52,0
2034,"F[11,3,0,1]F[11,4,0,1]F[11,4,0,2]F[11,5,0,2]F[...",260.0,LNG_S1_2026LNG_S1_2027LNG_S1_2027LNG_S1_2028LN...,52.0,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,LNGLNGBioLNGBioLNGBioLNGBioLNGLNGBioLNGBioLNGL...,0,0.0,S1S1S1S1S1S1S2S2S1S2S2S3S4S1S1S2S3S3S4S1S2S3S3...,60943,LNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGDieselLNGD...,30.0,0.0,S1_0_2034S1_0_2034S1_0_2034S1_0_2034S1_0_2034S...,107,55,0
2035,"F[12,4,0,2]F[12,5,0,2]F[12,6,0,2]F[12,7,0,2]F[...",265.0,LNG_S1_2027LNG_S1_2028LNG_S1_2029LNG_S1_2030LN...,53.0,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,BioLNGBioLNGBioLNGBioLNGLNGBioLNGB20BioLNGHVOB...,0,0.0,S1S1S1S1S2S1S4S1S1S2S3S3S1S2S3S3S4S1S2S3S3S4S4...,56910,LNGLNGLNGLNGLNGLNGDieselLNGDieselLNGLNGLNGLNGL...,28.0,0.0,S1_0_2035S1_0_2035S1_0_2035S1_0_2035S2_0_2035S...,98,55,0
2036,"F[13,5,0,2]F[13,6,0,2]F[13,7,0,2]F[13,7,1,1]F[...",271.0,LNG_S1_2028LNG_S1_2029LNG_S1_2030LNG_S2_2030LN...,54.2,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,BioLNGBioLNGBioLNGLNGBioLNGB20BioLNGHVOLNGBioL...,0,0.0,S1S1S1S2S1S4S1S1S3S1S2S3S3S4S1S2S3S3S4S4S1S2S3...,58963,LNGLNGLNGLNGLNGDieselLNGDieselLNGLNGLNGLNGLNGL...,29.0,0.0,S1_0_2036S1_0_2036S1_0_2036S2_0_2036S1_0_2036S...,110,56,0
2037,"F[14,6,0,2]F[14,7,0,2]F[14,7,1,1]F[14,8,0,2]F[...",277.0,LNG_S1_2029LNG_S1_2030LNG_S2_2030LNG_S1_2031LN...,55.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,BioLNGBioLNGLNGBioLNGBioLNGBioLNGBioLNGLNGBioL...,0,0.0,S1S1S2S1S1S1S2S3S3S4S4S1S2S3S3S4S1S2S3S3S1S2S3...,54935,LNGLNGLNGLNGLNGLNGLNGLNGLNGLNGDieselLNGLNGLNGL...,27.0,0.0,S1_0_2037S1_0_2037S2_0_2037S1_0_2037S1_0_2037S...,91,53,0
2038,"F[15,7,0,2]F[15,7,1,1]F[15,8,0,2]F[15,10,0,2]F...",287.0,LNG_S1_2030LNG_S2_2030LNG_S1_2031LNG_S1_2033LN...,57.4,FleetFleetFleetFleetFleetFleetFleetFleetFleetF...,BioLNGLNGBioLNGBioLNGBioLNGBioLNGBioLNGLNGBioL...,0,0.0,S1S2S1S1S1S1S2S3S3S1S2S3S3S1S2S3S3S3S4S4S1S1S2...,59043,LNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGLNGL...,29.0,0.0,S1_0_2038S2_0_2038S1_0_2038S1_0_2038S1_0_2038S...,88,60,0

In [806]:
#calcualte sum of sell for every year
sell = output[output['Type'] == 'Sell']
sell = sell.groupby('Year').sum()
sell

,Solver_Var,Solver_Value,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
Year,,,,,,,,,,,,,,,,,
2023,"S[0,0,0,1]S[0,0,1,1]S[0,0,1,4]S[0,0,2,1]S[0,0,...",39.0,LNG_S1_2023LNG_S2_2023Diesel_S2_2023LNG_S3_202...,39,SellSellSellSellSell,LNGLNGB20LNGLNG,0,0.0,S1S2S2S3S4,10115,LNGLNGDieselLNGLNG,5.0,0.0,S1_0_2023S2_0_2023S2_0_2023S3_0_2023S4_0_2023,5,8,0
2024,"S[1,0,0,1]S[1,0,0,4]S[1,0,2,1]",40.0,LNG_S1_2023Diesel_S1_2023LNG_S3_2023,40,SellSellSell,LNGB20LNG,0,0.0,S1S1S3,6069,LNGDieselLNG,3.0,0.0,S1_0_2024S1_0_2024S3_0_2024,6,6,0
2025,"S[2,0,0,1]S[2,0,1,1]S[2,0,2,1]S[2,0,3,1]S[2,0,...",41.0,LNG_S1_2023LNG_S2_2023LNG_S3_2023LNG_S4_2023Di...,41,SellSellSellSellSell,LNGLNGLNGLNGB20,0,0.0,S1S2S3S4S4,10115,LNGLNGLNGLNGDiesel,5.0,0.0,S1_0_2025S2_0_2025S3_0_2025S4_0_2025S4_0_2025,15,8,0
2026,"S[3,0,0,1]S[3,0,1,1]S[3,0,1,4]S[3,0,2,1]S[3,0,...",42.0,LNG_S1_2023LNG_S2_2023Diesel_S2_2023LNG_S3_202...,42,SellSellSellSellSellSell,LNGLNGB20LNGB20LNG,0,0.0,S1S2S2S3S3S4,12139,LNGLNGDieselLNGDieselLNG,6.0,0.0,S1_0_2026S2_0_2026S2_0_2026S3_0_2026S3_0_2026S...,23,12,0
2027,"S[4,0,0,1]S[4,0,1,4]S[4,1,1,1]S[4,1,2,1]S[4,2,...",43.0,LNG_S1_2023Diesel_S2_2023LNG_S2_2024LNG_S3_202...,43,SellSellSellSellSell,LNGB20LNGLNGLNG,0,0.0,S1S2S2S3S3,10119,LNGDieselLNGLNGLNG,5.0,0.0,S1_0_2027S2_0_2027S2_0_2027S3_0_2027S3_0_2027,21,8,0
2028,"S[5,1,0,1]S[5,2,2,1]S[5,3,3,1]S[5,4,3,1]",45.0,LNG_S1_2024LNG_S3_2025LNG_S4_2026LNG_S4_2027,45,SellSellSellSell,LNGLNGLNGLNG,0,0.0,S1S3S4S4,8102,LNGLNGLNGLNG,4.0,0.0,S1_0_2028S3_0_2028S4_0_2028S4_0_2028,14,4,0
2029,"S[6,2,0,1]S[6,2,1,1]S[6,3,0,1]S[6,3,1,1]S[6,3,...",46.0,LNG_S1_2025LNG_S2_2025LNG_S1_2026LNG_S2_2026LN...,46,SellSellSellSellSellSellSellSell,LNGLNGLNGLNGLNGHVOB20LNG,0,0.0,S1S2S1S2S3S3S4S2,16207,LNGLNGLNGLNGLNGDieselDieselLNG,8.0,0.0,S1_0_2029S2_0_2029S1_0_2029S2_0_2029S3_0_2029S...,33,13,0
2030,"S[7,0,0,1]S[7,0,1,2]S[7,0,2,2]S[7,3,0,1]S[7,3,...",47.0,LNG_S1_2023LNG_S2_2023LNG_S3_2023LNG_S1_2026Di...,47,SellSellSellSellSellSellSellSellSell,LNGBioLNGBioLNGLNGB20LNGLNGLNGLNG,0,0.0,S1S2S3S1S4S2S3S4S2,18230,LNGLNGLNGLNGDieselLNGLNGLNGLNG,9.0,0.0,S1_0_2030S2_0_2030S3_0_2030S1_0_2030S4_0_2030S...,49,14,0
2031,"S[8,0,0,1]S[8,0,2,4]S[8,5,1,1]S[8,5,2,1]S[8,5,...",47.0,LNG_S1_2023Diesel_S3_2023LNG_S2_2028LNG_S3_202...,47,SellSellSellSellSellSellSellSell,LNGB20LNGLNGBioLNGBioLNGLNGBioLNG,0,0.0,S1S3S2S3S3S3S4S4,16217,LNGDieselLNGLNGLNGLNGLNGLNG,8.0,0.0,S1_0_2031S3_0_2031S2_0_2031S3_0_2031S3_0_2031S...,39,14,0
2032,"S[9,0,0,1]S[9,1,0,1]S[9,5,0,2]S[9,5,2,3]S[9,6,...",50.0,LNG_S1_2023LNG_S1_2024LNG_S1_2028Diesel_S3_202...,50,SellSellSellSellSellSellSellSellSellSell,LNGLNGBioLNGHVOBioLNGLNGBioLNGLNGBioLNGBioLNG,0,0.0,S1S1S1S3S2S3S3S4S4S3,20278,LNGLNGLNGDieselLNGLNGLNGLNGLNGLNG,10.0,0.0,S1_0_2032S1_0_2032S1_0_2032S3_0_2032S2_0_2032S...,52,17,0
2033,"S[10,2,0,1]S[10,5,0,2]S[10,7,1,1]S[10,7,2,1]S[...",50.0,LNG_S1_2025LNG_S1_2028LNG_S2_2030LNG_S3_2030LN...,50,SellSellSellSellSellSellSellSellSell,LNGBioLNGLNGLNGBioLNGB20LNGLNGLNG,0,0.0,S1S1S2S3S3S4S3S4S4,18267,LNGLNGLNGLNGLNGDieselLNGLNGLNG,9.0,0.0,S1_0_2033S1_0_2033S2_0_2033S3_0_2033S3_0_2033S...,39,14,0
2034,"S[11,3,0,1]S[11,4,0,1]S[11,7,1,1]S[11,7,1,2]S[...",52.0,LNG_S1_2026LNG_S1_2027LNG_S2_2030LNG_S2_2030LN...,52,SellSellSellSellSellSellSellSell,LNGLNGLNGBioLNGLNGBioLNGLNGLNG,0,0.0,S1S1S2S2S2S2S3S4,16238,LNGLNGLNGLNGLNGLNGLNGLNG,8.0,0.0,S1_0_2034S1_0_2034S2_0_2034S2_0_2034S2_0_2034S...,42,10,0
2035,"S[12,4,0,2]S[12,9,0,2]S[12,9,1,2]S[12,9,2,1]S[...",53.0,LNG_S1_2027LNG_S1_2032LNG_S2_2032LNG_S3_2032LN...,53,SellSellSellSellSell,BioLNGBioLNGBioLNGLNGBioLNG,0,0.0,S1S1S2S3S3,10155,LNGLNGLNGLNGLNG,5.0,0.0,S1_0_2035S1_0_2035S2_0_2035S3_0_2035S3_0_2035,25,9,0
2036,"S[13,5,0,2]S[13,8,3,4]S[13,9,0,2]S[13,9,0,3]S[...",54.0,LNG_S1_2028Diesel_S4_2031LNG_S1_2032Diesel_S1_...,54,SellSellSellSellSellSellSellSellSell,BioLNGB20BioLNGHVOLNGBioLNGLNGBioLNGBioLNG,0,0.0,S1S4S1S1S3S2S3S3S4,18287,LNGDieselLNGDieselLNGLNGLNGLNGLNG,9.0,0.0,S1_0_2036S4_0_2036S1_0_2036S1_0_2036S3_0_2036S...,46,19,0
2037,"S[14,6,0,2]S[14,10,0,2]S[14,11,1,2]S[14,11,2,1...",55.0,LNG_S1_2029LNG_S1_2033LNG_S2_2034LNG_S3_2034LN...,55,SellSellSellSellSellSellSellSell,BioLNGBioLNGBioLNGLNGBioLNGBioLNGHVOBioLNG,0,0.0,S1S1S2S3S3S4S4S4,16267,LNGLNGLNGLNGLNGLNGDieselLNG,8.0,0.0,S1_0_2037S1_0_2037S2_0_2037S3_0_2037S3_0_2037S...,37,16,0

In [807]:
output

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
0,"P[0,0,1]",72.0,2023,LNG_S1_2023,72,Buy,LNG,0,0.0,S1,2023,LNG,1.0,0.0,S1_0_2023,1,1,0
1,"P[0,0,4]",1.0,2023,Diesel_S1_2023,1,Buy,B20,0,0.0,S1,2023,Diesel,1.0,0.0,S1_0_2023,1,4,0
2,"P[0,1,1]",30.0,2023,LNG_S2_2023,30,Buy,LNG,0,0.0,S2,2023,LNG,1.0,0.0,S2_0_2023,1,1,0
3,"P[0,1,2]",1.0,2023,LNG_S2_2023,1,Buy,BioLNG,0,0.0,S2,2023,LNG,1.0,0.0,S2_0_2023,1,2,0
4,"P[0,1,4]",3.0,2023,Diesel_S2_2023,3,Buy,B20,0,0.0,S2,2023,Diesel,1.0,0.0,S2_0_2023,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,"F[15,15,2,1]",8.0,2038,LNG_S3_2038,8,Fleet,LNG,0,0.0,S3,2038,LNG,1.0,0.0,S3_0_2038,1,1,0
1315,"F[15,15,2,2]",23.0,2038,LNG_S3_2038,23,Fleet,BioLNG,0,0.0,S3,2038,LNG,1.0,0.0,S3_0_2038,1,2,0
1316,"F[15,15,2,3]",2.0,2038,Diesel_S3_2038,2,Fleet,HVO,0,0.0,S3,2038,Diesel,1.0,0.0,S3_0_2038,1,3,0
1317,"F[15,15,3,2]",8.0,2038,LNG_S4_2038,8,Fleet,BioLNG,0,0.0,S4,2038,LNG,1.0,0.0,S4_0_2038,1,2,0
1318,"F[15,15,3,3]",2.0,2038,Diesel_S4_2038,2,Fleet,HVO,0,0.0,S4,2038,Diesel,1.0,0.0,S4_0_2038,1,3,0

In [808]:
use = output[output['Type'] == 'Use']
use
# #create a new dataframe 
# total_use = []
# for i in range(len(use)-4):
#     total_use.append(use['Num_Vehicles'][i] + use['Num_Vehicles'][i+1] + use['Num_Vehicles'][i+2] + use['Num_Vehicles'][i+3])
#     i=i+4

,Solver_Var,Solver_Value,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km),Size,p_year,Ftype,ratio,Demand,Demand_id,age,k,T_val
195,"U[0,0,0,1,0]",8.521392,2023,LNG_S1_2023,9,Use,LNG,D1,96575.777778,S1,2023,LNG,0.946821,869182.0,S1_D1_2023,1,1,0
196,"U[0,0,0,1,1]",25.461716,2023,LNG_S1_2023,26,Use,LNG,D2,99888.269231,S1,2023,LNG,0.979297,2597095.0,S1_D2_2023,1,1,0
197,"U[0,0,0,1,2]",32.274627,2023,LNG_S1_2023,33,Use,LNG,D3,99757.939394,S1,2023,LNG,0.978019,3292012.0,S1_D3_2023,1,1,0
198,"U[0,0,0,1,3]",4.000000,2023,LNG_S1_2023,4,Use,LNG,D4,102000.000000,S1,2023,LNG,1.000000,408000.0,S1_D4_2023,1,1,0
199,"U[0,0,0,4,3]",0.061922,2023,Diesel_S1_2023,1,Use,B20,D4,6316.000000,S1,2023,Diesel,0.061922,6316.0,S1_D4_2023,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,"U[15,15,2,3,3]",0.204260,2038,Diesel_S3_2038,1,Use,HVO,D4,14911.000000,S3,2038,Diesel,0.204260,14911.0,S3_D4_2038,1,3,0
917,"U[15,15,3,2,1]",6.733525,2038,LNG_S4_2038,7,Use,BioLNG,D2,113508.000000,S4,2038,LNG,0.961932,794556.0,S4_D2_2038,1,2,0
918,"U[15,15,3,2,2]",1.000000,2038,LNG_S4_2038,1,Use,BioLNG,D3,118000.000000,S4,2038,LNG,1.000000,118000.0,S4_D3_2038,1,2,0
919,"U[15,15,3,3,0]",0.198627,2038,Diesel_S4_2038,1,Use,HVO,D1,23438.000000,S4,2038,Diesel,0.198627,23438.0,S4_D1_2038,1,3,0
920,"U[15,15,3,3,3]",0.020737,2038,Diesel_S4_2038,1,Use,HVO,D4,2447.000000,S4,2038,Diesel,0.020737,2447.0,S4_D4_2038,1,3,0

In [809]:
output[output['age'] > 10]

Empty DataFrame
Columns: [Solver_Var, Solver_Value, Year, ID, Num_Vehicles, Type, Fuel, Distance_bucket, Distance_per_vehicle(km), Size, p_year, Ftype, ratio, Demand, Demand_id, age, k, T_val]
Index: []

In [810]:
output.to_csv('pre_submit.csv', index=False)

In [811]:
output[output['Num_Vehicles'] == 0]

Empty DataFrame
Columns: [Solver_Var, Solver_Value, Year, ID, Num_Vehicles, Type, Fuel, Distance_bucket, Distance_per_vehicle(km), Size, p_year, Ftype, ratio, Demand, Demand_id, age, k, T_val]
Index: []

In [812]:
#delete columns
output = output.drop(['Solver_Var', 'Solver_Value','Ftype','ratio','k'], axis=1)
#drop rows with fleet in RTypr
output = output[output['Type'] != 'Fleet']
output
output.to_csv('submit.csv', index=False)